@import url("./reset.css");
@import url("./variables.css");

body {
  font-family: var(--ff-base);
  color: var(--clr-ntrl-max);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container--small {
  padding: 0 30px;
}

.icon {
  display: block;
}

.icon svg {
  width: inherit;
  height: inherit;
  color: inherit;
  fill: inherit;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__logo img {
  width: 80px;
  height: 35px;
  object-fit: contain;
}

.nav__menu {
  display: flex;
}

.nav__menu__item {
  font-weight: 700;
  color: var(--clr-ntrl-min);
  padding: 5px 0;
}

.nav__menu__item + .nav__menu__item {
  margin-left: 10px;
}

.intro {
  height: 100vh;
  max-height: 750px;
  background: var(--clr-primary);
  background: linear-gradient(
    135deg,
    var(--clr-secondary) 0%,
    var(--clr-primary) 70%,
    var(--clr-primary) 100%
  );
  clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

.intro__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 650px;
}

.intro__text__wrapper {
  color: var(--clr-ntrl-min);
  text-align: center;
}

.intro__title {
  font-family: var(--ff-alt);
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 32px;
}

.intro__description {
  font-size: 18px;
}

.section {
  padding: 80px 0;
}

.section--dark {
  color: var(--clr-ntrl-min);
  background: var(--clr-primary);
  background: linear-gradient(
    135deg,
    var(--clr-secondary) 0%,
    var(--clr-primary) 70%,
    var(--clr-primary) 100%
  );
}

.section__title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.section__title::after {
  content: "";
  position: relative;
  background: linear-gradient(
    135deg,
    var(--clr-secondary) 0%,
    var(--clr-primary) 70%,
    var(--clr-primary) 100%
  );
  display: block;
  width: 40px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  top: 0.5rem;
}

.section--dark .section__title::after {
  background: var(--clr-ntrl-min);
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding-top: 30px;
}

.game {
  display: flex;
  width: 100%;
  box-shadow: 0px 10px 30px #e5e9f9, 0px 6px 12px rgba(28, 39, 49, 0.08);
  border-radius: 15px;
}

.game__img__wrapper {
  width: 130px;
  height: 130px;
  border-radius: 15px 0 0 15px;
  margin-right: 10px;
}

.game--mine-block-runner .game__img__wrapper {
  background-color: #0443a4;
}

.game__img {
  width: 130px;
  height: 130px;
  object-fit: contain;
  border-radius: 15px 0 0 15px;
}

.game__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
}

.game__title {
  font-family: var(--ff-alt);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.game__bottom {
  display: flex;
  justify-content: space-between;
}

.game__downloads {
  display: flex;
  align-items: center;
}

.game__downloads__icon {
  width: 20px;
  height: 28px;
  color: var(--clr-ntrl-alt);
}

.game__downloads__count {
  font-family: var(--ff-alt);
  font-size: 18px;
  font-weight: 600;
  color: var(--clr-ntrl-alt);
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 10px;
}

.game__platforms {
  display: flex;
}

.game__platform + .game__platform {
  margin-left: 5px;
}

.game__platform__icon {
  width: 32px;
  height: 32px;
  color: var(--clr-ntrl-alt);
}

.about__description {
  line-height: 2;
  text-align: center;
  padding: 10px 15px;
}

.about__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.about__button {
  display: flex;
  align-items: center;
  border-radius: 10rem;
  border: var(--clr-ntrl-min) solid 1px;
  padding: 0.75rem 2rem;
  transition: all 0.3s ease;
}

.about__button:hover {
  color: var(--clr-primary);
  background: var(--clr-ntrl-min);
}

.about__button__text {
  padding-left: 15px;
}

.about__button__suptitle {
  font-size: 13px;
  margin-bottom: 5px;
}

.contacts__inner {
  max-width: 700px;
  padding-top: 20px;
  margin: 0 auto;
}

.contacts__item {
  display: flex;
  align-items: center;
  color: #59687c;
  border-bottom: 1px #cccccc solid;
  padding: 1.5rem 2rem;
}

.contacts__item:last-child {
  border: 0;
}

.contacts__item__icon {
  width: 40px;
  height: 40px;
  fill: #59687c;
}

.contacts__item__text {
  padding-left: 30px;
}

.contacts__item__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.contacts__item__value {
  font-size: 14px;
  line-height: 1.4;
}

.footer {
  background: var(--clr-primary);
  background: linear-gradient(
    135deg,
    var(--clr-secondary) 0%,
    var(--clr-primary) 68%,
    var(--clr-primary) 100%
  );
}

.footer__inner {
  padding-top: 40px;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer__logo img {
  width: 80px;
  height: 35px;
  object-fit: contain;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer__social__icon {
  width: 30px;
  height: 30px;
  color: var(--clr-ntrl-min);
  fill: var(--clr-ntrl-min);
}

.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin-top: 30px;
}

.footer__copyright {
  font-size: 14px;
  color: var(--clr-ntrl-min);
  text-align: center;
}

@media (min-width: 768px) {
  .header__logo img {
    width: 100px;
    height: 45px;
  }

  .intro__title {
    font-size: 72px;
  }

  .intro__description {
    font-size: 24px;
  }

  .section__title {
    font-size: 42px;
    margin-bottom: 32px;
  }

  .game {
    width: calc(50% - 20px);
  }

  .footer__logo img {
    width: 100px;
    height: 45px;
  }
}

@media (min-width: 1140px) {
  .game {
    width: calc(33.33333% - 30px);
  }
}
